{% include head.html %}

	<h1 class="title-site">{{ page.title }}</h1>

	{{ content }}

  <!--Thanksgiving-->
  <div class="container">
  	<nav class="grid">
      <h1> Thanksgiving </h1>
  	    <ul>
  	        {% for p in site.pages %}
  	        {% if p.home %}
            {% elsif p.category == "thanksgiving" %}
  	        <li>
  	        	<a href="{{ site.baseurl }}{{ p.url }}">
  		        <div class="img-wrapper">
  	        		<img src="{{ p.image }}" />
  	        	</div>
  		        <h2>{{ p.title }}</h2>
              <br><br><br>
              <p>{{p.content | markdownify | truncatewords: 50 }}</p>
              </ul>
              </a>
  	        </li>
  	        {% endif %}
  	        {% endfor %}
  	    </ul>
  	</nav>
  </div>

  <!--Baking-->
    <div class="container">
      <nav class="grid">
        <h1> Baking </h1>
          <ul>
              {% for p in site.pages %}
                {% if p.home %}
                {% elsif p.category == "baking" %}
                <li>
                  <a href="{{ site.baseurl }}{{ p.url }}">
                  <div class="img-wrapper">
                    <img src="{{ p.image }}" />
                  </div>
                  <h2>{{ p.title }}</h2>
                  <br><br><br>
                  <p>{{p.content | markdownify | truncatewords: 50 }}</p>
                  </ul>
                  </a>
                </li>
                {% endif %}
              {% endfor %}
          </ul>
      </nav>
    </div>

<!--Soup-->
  <div class="container">
    <nav class="grid">
      <h1> Soup </h1>
        <ul>
            {% for p in site.pages %}
            {% if p.home %}
            {% elsif p.category == "soup" %}
            <li>
              <a href="{{ site.baseurl }}{{ p.url }}">
              <div class="img-wrapper">
                <img src="{{ p.image }}" />
              </div>
              <h2>{{ p.title }}</h2>
              <br><br><br>
              <p>{{p.content | markdownify | truncatewords: 50 }}</p>
              </ul>
              </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
  </div>

<!--Vegetarian-->
  <div class="container">
    <nav class="grid">
      <h1> Vegetarian </h1>
        <ul>
            {% for p in site.pages %}
            {% if p.home %}
            {% elsif p.category == "vegetarian" %}
            <li>
              <a href="{{ site.baseurl }}{{ p.url }}">
              <div class="img-wrapper">
                <img src="{{ p.image }}" />
              </div>
              <h2>{{ p.title }}</h2>
              <br><br><br>
              <p>{{p.content | markdownify | truncatewords: 50 }}</p>
              </ul>
              </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
  </div>

<!--Chicken-->
  <div class="container">
    <nav class="grid">
      <h1> Chicken </h1>
        <ul>
            {% for p in site.pages %}
            {% if p.home %}
            {% elsif p.category == "chicken" %}
            <li>
              <a href="{{ site.baseurl }}{{ p.url }}">
              <div class="img-wrapper">
                <img src="{{ p.image }}" />
              </div>
              <h2>{{ p.title }}</h2>
              <br><br><br>
              <p>{{p.content}}</p>
              </ul>
              </a>
            </li>
            {% endif %}
            {% if p.content %}
              </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
  </div>

{% include foot.html %}
